.speakerListContainer {
    background-image: url('../../assets/pattern1.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--pri-clr);
    padding: 80px 0;
}

.speakerContainer h2 {
    color: #fff;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.speakerContainer h2::before {
    content: 'Congress Speakers ';
    display: block;
    font-size: 0.8rem;
    color: var(--sec-clr);
    margin-bottom: 10px;
}

.speakersFilterButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.speakersFilterButtons button {
    background-color: var(--sec-clr);
    border: none;
    color: var(--pri-clr);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 5px;
}

.speakerGroup {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.speakerItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 180px;
    text-align: center;
}

.speakerName {
    color: var(--sec-clr);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.speakerPosition {
    color: #fff;
    font-size: 0.8rem;
    margin-bottom: 8px;
}

.speakerCompany {
    color: #fff;
    font-size: 0.8rem;
}

.speakerImage {
    margin-bottom: 20px;
}

.speakersFilterButtons button:hover {
    background-color: #218143;
}